{% extends 'base.html' %}
{% load static %}
{% block title %}Competition Page{% endblock title %}
{% block content %}



<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
           <h2>Upcoming Competitions</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- upcoming -->
<div class="mt-3">
  <div class="container">
    <div class="d-flex justify-content-end mb-3">  
      <button type="button" class="btn btn-primary d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20px" class="w-6 h-6
        ">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
        Add New Competition
      </button>
    </div>
    <table class="table ml-md-1">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Max Participants</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Competition One</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Two</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Three</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition One</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Two</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Three</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition One</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Two</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Three</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition One</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Two</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
        <tr>
          <th scope="row">Competition Three</th>
          <td>2022-08-12</td>
          <td>2022-08-28</td>
          <td>40</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
<!-- end upcoming -->
{% endblock content %}
